{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="author">
    <form action="/author" method="post">
        Author Email:<input type="text" name="email" required>
        <input type="submit">
    </form>
    <form action="/search">
        Content Search:<input type="text" name="content">
        <input type="submit">
    </form>
</div>
<div class="all-subjects">
        {% for subject in subjects %}
            <h1><a href="/subject/{{ subject.id }}">{{ subject.title }}</a></h1>
        {% endfor %}
 </div>
{% endblock %}